.header-section{
	display: block;
	position: relative;
	width: 100%;
}

.header-section_color_black{
	background-color: #000;
}

.header-section__menu-region_float_left{
	float: left;
}

.header-section__menu-user_float_right{
	float: right;
}

.header-section_color_gray{
	background-color: rgb(51,51,51,1);
}

.header-section_padding-top{
	padding-top: 8px;
}

.header-section__logo_margin-float_left{
	float: left;
	margin-right: 8px;
}

.header-section__menu-main_float_left{
	float: left;
}

.header-section__logo-menu-wrap{
	display: block;
	float: left;
}

.header-section__baner{
	float: right;
}

.header-bottom__fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

