.header-section{
	display: block;
	position: relative;
	width: 100%;
}

.header-section_color_black{
	display: block;
	position: relative;
	width: 100%;
	background-color: #000;
}

.header-section__menu-region_float_left{
	float: left;
}

.header-section__menu-user_float_right{
	float: right;
}